body
{
    background-color:black;
}

.container
{
    display: flex;
    justify-content: center;
}

.back-to-main
{
    color: white;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 28px;
}

.link
{
    color: white;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
}

.bottom-text
{
    color: white;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

@media screen and (max-height: 560px)
{
    .bottom-text
    {
        display: none;
    }
}