body
{
    background-color:black;
}

.video
{
    width: 400px;
    height: 400px;
    display: block;
    text-align: center;
}

.main-text
{
    color: white;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 28px;
}

.vpn-text
{
    color: white;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
}

.bottom-text
{
    color: white;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.container
{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 375px) {
    .video
    {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 320px) {
    .video
    {
        width: 300px;
        height: 300px;
    }
}