body
{
    background-color:black;
}

a
{
    color: #cecece;
}

a:visited
{
    color: #cecece;
}

.main-text
{
    color: white;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 28px;
}

.timer
{
    color: white;
    text-align: center;
    display: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    margin: 20px;
}

.timer-mob
{
    color: white;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: none;
    font-size: 20px;
    margin: 20px;
}

.timer-min-mob
{
    color: white;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: none;
    font-size: 20px;
    margin: 20px;
}

.timer-min-min-mob
{
    color: white;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: none;
    font-size: 20px;
    margin: 20px;
}


.second-text
{
    color: white;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    margin: 5px;
}

.bottom-text
{
    color: white;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.container
{
    display: flex;
    justify-content: center;
}

@media screen and (max-height: 560px)
{
    .bottom-text
    {
        display: none;
    }
}

@media screen and (min-width: 1000px)
{
    .timer
    {
        display: inline;
    }
}

@media screen and (min-width: 450px) and (max-width: 1000px)
{
    .timer-mob
    {
        display: inline;
    }
}

@media screen and (min-width: 350px) and (max-width: 450px)
{
    .timer-min-mob
    {
        display: inline;
    }
}

@media screen and (min-width: 250px) and (max-width: 350px)
{
    .timer-min-min-mob
    {
        display: inline;
    }
}